body {
    /* background: rgb(6, 6, 12); */
    font-family: 'ABeeZee', sans-serif;
}

.text-silt {
    font-family: Shadows Into Light Two, cursive;
}

.navbar-brand {
    color: rgb(219, 0, 0) !important;
    font-size: 40px;
    font-family: 'Shadows Into Light Two', cursive;
}

/* .nav-link {
    margin-top: 8px;
    color: rgb(219, 0, 0) !important;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
} */

/* .nav-link:hover {
    cursor: pointer;
    margin-top: 8px;    
    color: black !important;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
} */

.nav-content {
    /* float: right; */
    flex-grow: 1;
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 0px;
}

.nav-content-mobile {
    display: none;
    position: fixed;
    margin-right: 0px;
    top: 20px;
    right: 25px;
    color: rgb(219, 0, 0) !important;
    float: right;    
    font-size: 20px;
}

.nav-content:hover {
    text-decoration: underline;
}


.content-img {
    box-shadow: 5px 5px 20px 5px rgba(255, 0, 0, 0.342);
}

.content-img-title {
    display: block;
    /* background: rgb(1, 2, 24); */
    text-align: center;
    color: whitesmoke !important;    
    border-radius: 3px 3px 0px 0px;
}

.content-img-title:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);    
}

.content-info {
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) { 
    .nav-content {
        display: none;
    }
    .nav-content-mobile {
        display: inline-block;
    }
}

.contact-form {
    color: whitesmoke;
    margin-top: 50px;
}


.contact-form-list {
    width: 100%;
}

.contact-input {
    width: 100% !important;
}

.contact-form-head {
    font-size: 25px;
    color: rgb(219, 0, 0) !important ;
    font-family: 'Shadows Into Light Two', cursive;
}

.contact-link {
    text-align: center;
    color: rgb(219, 0, 0) !important;
    font-size: 10px;
}

.contact-link-icon {
    text-align: center;
    color: rgb(219, 0, 0) !important;
    font-size: 24px;
}

.contact-link-container {
    border: 1px solid rgba(255, 0, 0, 0.438);
    border-radius: 5px 5px 5px 5px;
}

.contact-link-container:hover {
    cursor: pointer;
    background-color: rgba(219, 0, 0, 0.295) !important;
    color: black;
}
