body {
    /* background: rgb(6, 6, 12); */
    font-family: 'ABeeZee', sans-serif;
}

.text-silt {
    font-family: Shadows Into Light Two, cursive;
}

button {
    width: 100%;
}
input {
    width: 100%;
}